/* # Color Pallette */
:root {
  --turquoise-green: #aae0c4ff;
  --china-rose: #b15c73ff;
  --medium-sea-green: #35bc79ff;
  --tickle-me-pink: #ff85abff;
  --old-burgundy: #4b3137ff;
}
/* # CSS Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* # Global CSS Selectors */
html {
  background-color: rgb(247, 216, 176);
}

body {
  width: 90%;
  margin: 2em auto;
  font-family: 'Edu TAS Beginner', cursive;
}

/* # Mobile View Page Styling */
.page-container {
  margin: 150px auto;
  max-width: 1200px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.main-image-container {
  order: 2;
  width: 70%;
}

.main-image {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}

h1 {
  font-size: 54px;
  color: var(--old-burgundy);
  order: 1;
}

main {
  /* background-color: lightblue; */
  height: 25vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

main h2 {
  font-size: 44px;
  color: var(--old-burgundy);
}
form {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

main input {
  width: 80%;
  font-size: 34px;
  line-height: 3em;
  border: 2px solid var(--china-rose);
  border-radius: 10px;
  padding: 0.5em 1em;
  font-size: 24px;
  text-align: center;
}

input[type='text'] {
  font-size: 34px;
}
button {
  background-color: var(--tickle-me-pink);
  color: white;
  font-size: 2em;
  padding: 1em;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(1);
}

#display-element {
  height: 20vh;
  width: 100%;
  background-color: white;
  font-size: 44px;
  color: var(--old-burgundy);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--china-rose);
  border-radius: 20px;
}

@media only screen and (min-width: 992px) {
  header {
    flex-direction: row;
  }

  .main-image-container {
    order: 1;
  }

  form {
    flex-direction: row;
  }
}
